* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f6f6fe;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

header {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5rem;
}

header h1 {
  color: #6d708d;
  font-size: 2.5rem;
}

header .toggle-container {
  width: 74px;
  height: 40px;
  margin: 0 20px;
  padding: 0 2px;
  background: -webkit-gradient(linear, left top, right top, color-stop(35%, #a3a8f0), to(#696fdd));
  background: linear-gradient(90deg, #a3a8f0 35%, #696fdd 100%);
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header .toggle-container--box {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  margin: 0 3px;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

header .toggle-container--box--move {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.price-switch {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #b3b5c6;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #6d708d;
  position: relative;
}

.container .card {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  padding: 25px;
  margin: 20px 5px;
  width: 380px;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.container .card .price {
  font-size: 4rem;
  padding: 25px;
}

.container .card hr {
  color: #6d708d;
  width: 100%;
  margin: 10px 0px;
}

.container .card p {
  margin: 15px 0;
}

.container .card:hover {
  background: #696fdd;
  color: #f6f6fe;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.container .card:hover button {
  background: white;
  color: #696fdd;
}

.container .card button {
  margin-top: 15px;
  width: 250px;
  height: 35px;
  border-radius: 10px;
  border: none;
  background: #696fdd;
  color: #f6f6fe;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 768px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=main.css.map */